* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
}

.container {
    max-width: 1440px;
    margin: auto;
}

.main {
    border: 1px solid black;

}

.restoran-wrapper, .restoran-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(600px, 1fr));
    gap: 50px;
}

.restoran-list, .food-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
    border: 1px solid black
}

.restoran-list, .food-card .image {
    width: 100%;
    height: 300px;
    background-position: center;
    background-size: cover;
}


.hide {
    display: none;
}